.card {
    margin: 10px !important;
}

#news-grid {
    text-align: center;
}

#news-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pagination {
    display: inline-block !important;
    margin: 0 auto;
}