.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#add_news_submit_btn {
    display: block !important;
}

#add-news-heading {
    text-align: center;
    margin-bottom: 10px;
}

#file-upload-container {
    display: inline-block !important;
}