@font-face {
    font-family: OrangeJuice;
    src: url("/fonts/orange-juice.ttf");
}

#master-small-nav {
    background-color: black;
    display: block;
    height: 40px;
}

#master-small-nav ul {
    margin: 0;
    margin-top: 10px;
}

#master-small-nav li {
    display: inline;
    margin-right: 10px;
}

#master-small-nav li a {
    color: white !important;
}

#master-small-nav li a i {
    font-size: 20px;
}

#admin-dropdown li a {
    color: black !important;
}

#sidebar-profile-img {
    width: 30%;    
}

#sidebar-background-img {
    width: 100%;
}

#user-container {
    position: absolute;
    top: 5%;
    left: 5%;
}

#user-container p {
    font-size: 20px;
    margin: 0;
    color: white;
}

#collapsible-admin a {
    text-align: right;
}

#collapsible-admin a i {
    font-size: 18px;
    margin: 5px 10px 0 0;
}

#btn-search {
    display: inline-block;
    margin-right: 30px;
}

#btn-search:hover {
    cursor: pointer;
}

#main-nav-items a {
    color: #424242;
}

#main-nav-items {
    margin-right: 10%;
    height: 80px;
}

#upper-nav, #upper-nav ul {
    height: 58px;
}

#upper-nav i {
    font-size: 19px;
    color: #424242;
}

#upper-nav input {
    width: 200px;
    height: 30px;
    margin-right: 20px;
    margin-bottom: 0;
    color: black;
    display: none;
}

#vertical-line {
  border-left: 1px solid gray;
  display: inline-block;
  margin-top: 15px;
  height: 25px;
}

.brand-logo {
    font-family: OrangeJuice;
    color: #f57c00  !important;
    font-size: 50px !important;
    margin-left: 20px;
}

#login-link, #btn-sidebar {
    margin-right: 50px;
}