#MainContent_ImageFileUpload, #MainContent_CategorySelect {
    margin-bottom: 30px;
}

#file-upload-container {
    margin-bottom: 30px;
    display:block;
}

#title-input {
    margin-bottom: 50px;
}

#createNewsArticleContainer, #select-container {
    margin-bottom: 30px;
}